#blur-container{
	width: 100%;
	background: black;
	overflow: hidden;
}
.blur{
	width: 48%;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	filter: url(/assets/svg/blur.svg#blur);
	progid: DXImageTransform.Microsoft.Blur(pixelradius=2);
	filter: blur(3px);
	-webkit-transition: .9s -webkit-filter linear;
}