<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
    var _speedMark = new Date();
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=helloiamkitty.github.io/xiaoqiuhk-2-year/" />
    <meta http-equiv="Cache-Control" content="no-transform" /> 
    <meta http-equiv="Cache-Control" content="no-siteapp" /> 
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="keywords" content="小邱港货2周年">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta itemprop="name" content="小邱港货2周年">
    <meta itemprop="description" name="description" content="小邱港货2周年">
    <meta itemprop="image" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, minimal-ui">
</head>
<body>

    {{ content }}

</body>
</html>